


.main{
   width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;

    align-content: center;
}

@media (min-width: 600px) {
    .main{
   
   
        width:600px;
   
    }



  }

  @media (max-width: 300px) {
    .main{
   
   
        width:300px;
   
    }
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


.sticky-content {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: darkblue;
    color: #03035e;
    padding: 3rem 20px;
}

.sticky-content-title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky-content-opciones {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}


.placeholder-content {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
    background: linear-gradient(180deg, rgba(255,255,0,1) 0%, rgba(255,140,0,1) 100%);
}

.contacto{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
    height: 400px;
    
    padding: 10px 10px 10px 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightblue;
}

.titulo2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.proyectos-titulo{
    
   
    height: 5vh;

    
    background-color: lightblue;
   
    
    
    
    

 
    

    
}

.texto-proyectos{
    text-align:center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    color: black;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;

}



.proyectos{
    justify-content: center;
    height: 500px;
    
    padding: 10px 10px 10px 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}




.carousel-links {
    display: flex;
    justify-content: center;
  }
  
  .carousel-dot {
    background-color: black;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
  }
  
.carousel-texto-slides{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: bold;
    color: orange
    
    
    ;
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
    flex-wrap: wrap;

    



}

  .carousel-slides  div  {
    width: 100%;
    background-color: rgb(68, 68, 68);
    color: var(--secondary-font-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

  }
  
  .carousel-slides  {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    position: relative;
    text-align: center;
    color: white;

  }

  .detalle{
    justify-content: center;
    height: 380px;
    
    padding: 10px 10px 10px 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills h1 {
text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    justify-items: center;

}

.skills h2 {

    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.progress-bar{

    background: grey;
    width: 250px;
    height: 10px;
    border-radius: 5px;

}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
   
}

.progress-bar div span {

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {

    background: yellowgreen;
    animation: html 2s linear forwards
}

.css {

    background: orange;
    animation: css 2s linear forwards
}

.react {

    background: blue;
    animation: react 2s linear forwards

}

.shopify {

    background: green;
    animation: shopify 2s linear forwards
}

.html span {

    border: 1px solid yellowgreen;
}

.css span {

    border: 1px solid orange;
}

.react span {

    border: 1px solid blue;
}

.shopify span {

    border: 1px solid green;
}

@keyframes html {100%{
    width: 70%;
}}

@keyframes css {100%{
    width: 70%;
}}

@keyframes react {100%{
    width: 0%;
}}

@keyframes shopify {100%{
    width: 100%;
}}

.formulario{
    justify-content: center;
    height: 300px;
    
    padding: 10px 10px 10px 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    display: flex;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.formulario h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.formulario-texto {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;

}

.entrada-texto {
margin-bottom: 10px;
height: 30px;
width: 250px;
}

.formulario div{
    margin-bottom: 5px;
    width: 250px;
    display: flex;
    justify-content: left;
    justify-items: left;
   align-items: flex-start;
}